In [1]:
%pip install urllib
%pip install pyodbc
%pip install sqlalchemy

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement urllib (from versions: none)
ERROR: No matching distribution found for urllib

[notice] A new release of pip is available: 24.0 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pyodbc in c:\users\deepak\appdata\local\programs\python\python311\lib\site-packages (5.2.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: sqlalchemy in c:\users\deepak\appdata\local\programs\python\python311\lib\site-packages (2.0.41)
Requirement already satisfied: greenlet>=1 in c:\users\deepak\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy) (3.2.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\deepak\appdata\roaming\python\python311\site-packages (from sqlalchemy) (4.14.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

**Step 1: Define your connection details**

In [2]:
server='DESKTOP-RJ6N7AA\MSSQLSERVER1'
database='python'
username='sa'
password='1234567890'

**Step 2: Build the full connection string (ODBC-style)**

In [3]:
import urllib

ConnectionString = f"""
    DRIVER={{ODBC Driver 17 for SQL Server}};
    SERVER={server};
    DATABASE={database};
    UID={username};
    PWD={password};
    TrustServerCertificate=yes;
"""
# URL-encode the connection string for SQLAlchemy
params=urllib.parse.quote_plus(ConnectionString)
print(params)

%0A++++DRIVER%3D%7BODBC+Driver+17+for+SQL+Server%7D%3B%0A++++SERVER%3DDESKTOP-RJ6N7AA%5CMSSQLSERVER1%3B%0A++++DATABASE%3Dpython%3B%0A++++UID%3Dsa%3B%0A++++PWD%3D1234567890%3B%0A++++TrustServerCertificate%3Dyes%3B%0A

**Step 3: Create the SQLAlchemy engine**

In [4]:
from sqlalchemy import create_engine

engine=create_engine(f"mssql+pyodbc:///?odbc_connect={params}")

**Step 4: Insert your CSV using pandas.to_sql()**

In [5]:
import pandas as pd

transaction=pd.read_csv(r"C:\Users\Deepak\Desktop\python_practice\transaction_table_cleaned.csv")
transaction.isna().sum()
transaction

,transaction_id,customer_id,amount,transaction_date,product_category,payment_method,store_location
0,1,565,2992.470000,2025-03-10 01:20:54,Sports,Debit Card,New York
1,2,323,2041.870000,2025-01-02 15:24:19,Clothing,Cash,New York
2,3,398,107.350000,2025-02-16 03:49:01,Beauty,Debit Card,Online
3,4,19,2532.550126,2025-04-30 15:26:23,Sports,Debit Card,Los Angeles
4,5,547,3063.280000,2025-06-14 04:28:53,Clothing,PayPal,Los Angeles
...,...,...,...,...,...,...,...
995,996,60,712.470000,2025-01-13 14:16:32,Electronics,Debit Card,New York
996,997,235,2125.180000,2025-06-09 12:37:36,Electronics,PayPal,Chicago
997,998,669,3069.080000,2025-04-01 19:59:01,Home,PayPal,Los Angeles
998,999,931,2262.750000,2025-06-08 01:36:01,Clothing,Debit Card,Online
999,1000,925,4141.440000,2025-05-24 13:39:19,Electronics,PayPal,Online

In [6]:
transaction.to_sql("transactions",con=engine,index=False, if_exists='replace')

103

In [7]:
customers=pd.read_csv(r"C:\Users\Deepak\Desktop\python_practice\customer_data_cleaned.csv")

In [8]:
customers.to_sql("customers",con=engine,index=False, if_exists='replace')

214

In [9]:
orders=pd.read_csv(r"C:\Users\Deepak\Desktop\python_practice\order_data 1.csv")

In [10]:
orders.to_sql("orders",con=engine,index=False, if_exists='replace')

255

Data Transformation Requirements